.sectionCallToAction{
    background-color: rgba(240, 248, 255, 0);
    padding: .2em 1em .2em 1em;
    margin: 1rem;
    border: 1px solid;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}