.Portfolio {
    height: 45%;
    background-color: black;
    overflow: hidden;
}

.button-container {
    height: 50%;
    width: 100%;
    /* border: 3px solid blue; */
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}