.workOne {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.workOneWrapper {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.workOneMainContent {
  height: 90%;
  width: 90%;
}

.workOneTitleWrapper {
  background-color: #f6397e;
  border: 1px solid #f6397e;
  height: 15%;
  color: black;
  position: relative;
}

.workOneTitle {
  font-family: var(--tertiary-font);
  font-size: 6.8em;
}

.workOneSubtitle {
  font-family: var(--tertiary-font);
  background-color: black;
  color: white;
  text-align: end;
  width: fit-content;
  padding: 0 7%;
  position: absolute;
  bottom: -10%;
  right: -3%;
  font-size: 1.5em;
}

.workOneMainBody {
  height: 85%;
  border: 1px solid black;
  color: black;
}

.workOneInfo {
  height: 95%;
  width: 100%;
  margin: 0px 5%;
  max-width: 1500px;
  background-color: #2fd914;
}

.workOneDemo {
  width: 90%;
  min-width: 270px;
}

.mainTitle {
  font-size: 2em;
  text-align: center;
}

.mainDescription {
  font-family: var(--secondary-font);
  font-size: 1em;
  padding: 5% 5%;
}

.workOneLinks {
  margin-top: 5%;
  width: 25%;
  justify-content: space-around;
}

.websiteLink {
  text-decoration: none;
  color: black;
}

.halfRight {
  width: 85%;
}

.halfLeft {
  width: 100%;
}

@media (min-width: 576px) {
  .workOneTitle {
    font-size: 11em;
  }
  .workOneSubtitle {
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  .workOneTitle {
    font-size: 15em;
  }
  .workOneSubtitle {
    font-size: 2.5em;
  }
  .workOneDemo {
    width: 75%;
  }

  .mainTitle {
    font-size: 3em;
  }

  .mainDescription {
    font-size: 1.5em;
    padding: 3% 5%;
  }
}

@media (min-width: 992px) {
  .mainTitle {
    font-size: 2.5em;
  }
  .mainDescription {
    font-size: 1.2em;
    padding: 2% 4%;
  }
}

@media (min-width: 1200px) {
  .workOneTitle {
    font-size: 16em;
  }
  .workOneSubtitle {
    font-size: 2.5em;
  }

  .workOneDemo {
    width: 90%;
  }

  .mainDescription {
    max-width: 90%;
  }

  .workOneInfo {
    flex-direction: row;
  }

  .infoHalf {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .halfLeft {
    height: 100%;
    width: 40%;
    flex-direction: column;
  }
  .halfRight {
    width: 60%;
    height: 100%;
  }
}
