.chatBox {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--tertiary-dark);
  width: 25vw;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 40;
  margin: 2%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.chatTab {
  background-color: var(--tertiary-light);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem 0.5rem 0 0;
}

.tabTitleGroup {
  display: flex;
  align-items: center;
  width: 75%;
  margin-left: 3%;
}

.tabTitleGroup > * {
  margin: 2%;
}

.tabAvatar {
  border: 1px solid var(--secondary-light);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: black;
}

.onlineIndicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: .5px solid var(--primary-light);
  background-color: var(--primary-light);
}

.chatCloseBtn {
  margin-right: 5%;
  cursor: pointer;
}

.mainChat {
  height: 50vh;
  overflow-y: scroll;
  line-height: 1.3rem;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;

}

.chatDate {
  text-align: center;
  margin-top: 2%;
  z-index: 20;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.messageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messageContent {
  padding: 2%;
  width: 75%;
}

.currentTypers {
  min-height: 1rem;
  margin-left: 2%;
}

.tomMessage {
  border-radius: 1em 1em 0 1em;
  background-color: var(--tertiary-light);
}

.tomMessageContent {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message {
  padding: 2%;
  width: 70%;
  overflow-wrap: break-word;
}

.senderMessage {
  border-radius: 1em 1em 1em 0;
  background-color: var(--chat-input-dark);
}

.messageTimeStamp{
  color: var(--secondary-light);
  font-size: .8rem;
  margin: 4%;
  font-style: italic;
}

.chatInputGroup {
  background-color: var(--chat-input-dark);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatInputGroup > input {
  margin: 2%;
  font-size: 16px;
}

.chatInput {
  border: none;
  border-radius: 1.5rem;
  background-color: var(--chat-input-light);
  width: 60%;
  padding: 3%;
}

.submitIcon {
  transform: rotate(-45deg);
  margin-left: 2%;
}

.selectedRoom {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.selectedRoom:hover {
  border: 1px solid white;

}

.selectedRoom > span{
  color: white;
}

.selectedRoom > span:hover{
  color: white;
  border: 1px solid white;
}

@media (max-width: 576px) {
  .chatTab {
    z-index: 10;
    overflow-y: scroll;
  }

  .chatBox {
    width: 90%;
    bottom: 0vh;
    margin: 5%;
    min-height: 50vh;
    max-height: 40vh;
    overflow-y: auto;
    border: 1px solid var(--secondary-light)
  }

  .chatInputGroup {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .messagesContainer {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    bottom: 8vh;
  }
}
@media (min-width: 577px) {
  .chatBox {
    width: 25vw;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2%;
  }

  .chatInputGroup {
    position: relative;
  }

  .messagesContainer {
    padding-bottom: 0;
  }
  
}
