.worksSection {
    background-color: var(--secondary-dark);
}

.worksList {
    margin-top: 5em;
}

.workLink{
    text-decoration: none;
    width: 90%;
    padding: 1rem;
    border-top: 1px solid var(--secondary-light);
    color: var(--secondary-light);
    font-size: 2vw;
}

.workLink:hover{
    color: var(--secondary-lighter);
}