.VRFourSixFan {
  background-color: var(--primary-dark);
  filter: sepia(0.15) brightness(1.2);
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .VRFourSixFan {
    /* border: 0.85em solid var(--secondary-light);
    width: 340px;
    height: 340px;
    bottom: -191px;
    left: 43%; */
  }
}

@media (max-width: 992px) {
  .VRFourSixFan {
    /* border: 0.82em solid var(--secondary-light);
    width: 280px;
    height: 280px;
    bottom: -156px;
    left: 44%; */
  }
}

@media (max-width: 768px) {
  .VRFourSixFan {
    /* border: 0.77em solid var(--secondary-light);
    width: 217px;
    height: 217px;
    bottom: -120px;
    left: 45%; */
  }
}

@media (max-width: 576px) {
  .VRFourSixFan {
    /* border: 0.5em solid var(--secondary-light);
    width: 200px;
    height: 200px;
    position: relative;
    bottom: -3vh;
    left: 25vw; */
  }
}