.contactMenu {
    width: 20em;
    position: absolute;
    right: .5em;
    top: -2.2em;
    background-color: var(--secondary-dark);
    color: var(--secondary-lighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
    filter: drop-shadow(black 1rem 1rem 1rem);
}

.contactMenu>a{
    margin: .5em;
    text-decoration: none;
    color: var(--secondary-light);
}

.contactMenu>a:hover {
    color: var(--secondary-lighter);
}