.Header{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.tom-header {
    width: 30%;
    background-color: black;
    border: none;
    margin: 0 0 0 5%;
    position: absolute;
    bottom: -8%;
    min-width: 400px;
}

.breathe-life {
    min-width: 400px;
    width: 30%;
    margin: 5%;
    background-color: black;
    border: none;
    position: absolute;
    right: 10%;
}
