.navbar {
  background-color: #d5ff40;
  color: black;
  justify-content: space-between;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 35%;
  min-width: 225px;
  font-size: 2vw;
}

.navLinks > li {
  padding: 5%;
}

.navLogo {
  font-family: var(--heading-font);
  font-size: 2vw;
  min-width: 245px;
  margin: 0 2rem 0 2rem;
}

.hamburgerMenu {
  height: 30px;
  width: 50px;
  margin: 1rem 0 1rem 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburgerSlice {
  background-color: var(--primary-dark);
  height: 4px;
  width: 100%;
  border-radius: 5px;
  z-index: 40;
}

.hamburgerSliceTop {
  transform: rotate(45deg) translateY(18px);
}

.hamburgerSliceMid {
  display: none;
}

.hamburgerSliceBottom {
  transform: rotate(-45deg) translateY(-18px);
}

.mobileMenu {
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-dark);
  position: absolute;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileNavLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  list-style: none;
  color: var(--primary-light);
}

@media (max-width: 576px) {
  .navbar {
    justify-content: space-around;
    min-width: 390px;
  }

  .navLinks {
    width: 35%;
    min-width: 50px;
    font-size: 2vw;
  }

  .navLogo {
    font-size: 2rem;
    min-width: 40px;
    margin: 1rem;
  }
}
