.aboutSection {
    background-color: #3A098A;
    position: relative;
    height: 80vh;
    border: 1px solid red;
    display: grid;
    place-items: flex;
    align-items: flex-end;
    justify-content: center;
}

.slimeContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.slime {
    justify-self: flex-end;
    width: 100%;
    filter: drop-shadow(black -1rem 1rem 1rem);
    z-index: 1;
}

.aboutMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid yellow;
    /* height: 50%; */
}

.aboutDesc {
    margin: 10%;
}

.tomInSunWrapper {
    display: none;
    margin-left: 5%;
    height: 30vw;
}

.tomInSun {
    height: 100%;
}

@media (max-width: 576px) {
    .aboutSection {

    }
}