.aboutSection {
  background: rgb(58, 9, 138);
  background: linear-gradient(
    19deg,
    rgba(58, 9, 138, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  position: relative;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 440px;
  max-height: 545px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.slimeContainer {
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slime {
  justify-self: flex-end;
  width: 100%;
  filter: drop-shadow(black -1rem 1rem 1rem);
  z-index: 1;
}

.slimeImgWrapper {
  flex-grow: 2;
  border: 2px solid red;
}

.aboutMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headline {
}

.aboutDesc {
  margin: 10%;
}

.tomInSunWrapper {
  display: none;
  margin-left: 5%;
  height: 25vw;
  width: 100%;
  padding-left: 2em;
}

.tomInSun {
  height: 100%;
}

.slimeBuffer {
  width: 40%;
  height: 100%;
  display: none;
}

@media (min-width: 576px) {
  .aboutSection {
    height: 100vh;
    max-height: none;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .aboutMain {
    width: 70%;
  }

  .tomInSunWrapper {
    display: block;
  }
}
