.topSection {
  height: 65vh;
  background-color: var(--primary-light);
  position: relative;
  z-index: 2;
  min-height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.topMain {
  height: 90%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-light);
  max-width: 600px;
  min-width: 120px;
}

.sidebar {
  display: none;
}

.heroImgWrapper {
  width: 45%;
  filter: drop-shadow(black 0.2rem 0.3em 0.5em);
}

.headline {
  display: grid;
  place-items: center;
}

.headlineDescriptionWrapper {
  margin: 1em 0;
}

.slime {
  justify-self: flex-end;
  width: 100%;
  z-index: 1;
}

.slimeImgWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.menuButtonWrapper{
  padding: 1.5em 2.5em;
}

@media (min-width: 576px) {
  .topSection {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    justify-content: space-between;
    flex-basis: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .tomLogoWrapper {
    padding: 1em;
    display: inline;
    margin: 1.5em;
  }

  .topMain {
    justify-content: center;
    margin: 0 0em;
    width: 100%;
    height: 100%;
    flex-grow: 2;
    max-width: 100%;
    position: relative;
  }

  .sidebar {
    display: block;
    height: 100%;
    width: 40%;
    background-color: var(--primary-dark);
    max-width: 500px;
    min-width: 200px;
  }

  .menuButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5em;
  }

  .heroImgWrapper {
    position: absolute;
    width: 10em;
    top: 50%;
    left: -7em;
    transform: translateY(-50%);
  }

  .headline {
    text-align: left;
    width: 50%;
  }

  .slimeImgWrapper{
  }
}

@media (min-width: 768px) {
  .heroImgWrapper {
    width: 12em;
  }
}
@media (min-width: 1200px) {
  .heroImgWrapper {
    width: 15em;
  }
}
@media (min-width: 1400px) {
  .heroImgWrapper {
    width: 20em;
  }
}
