* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: post-no-bills, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.App {
  height: 100vh;
  background-color: #D2DF35;
}

.page-title {
  padding: 5%;
  text-align: center;
  font-size: 8em;
  color: #F12C99;
  transform: rotate(3deg);
}
