.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

/* .section-heading{

} */