@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Stint+Ultra+Expanded&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --primary-light: #D5FF40;
  --primary-dark: black;

  --secondary-light: #606060;
  --secondary-dark: #161616; 


  --heading-font: 'Rubik Mono One', monospace;
  font-family: 'Stint Ultra Expanded', serif;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

button {
  font-family: 'Stint Ultra Expanded', serif;
}