@font-face {
  font-family: "Impact";
  src: url("./fonts/impact-font/impact.ttf");
}
@font-face {
  font-family: "KyivTypeSerif-Regular";
  src: url("./fonts/kyivtype/KyivType-NoVariable/TTF/KyivTypeSerif-Regular.ttf");
}
@font-face {
  font-family: "Nosifer";
  src: url("./fonts/Nosifer/Nosifer-Regular.ttf");
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-font: "Impact", sans-serif;
  --secondary-font: "KyivTypeSerif-Regular", serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

.section {
  height: 100vh;
  width: 100vw;
}

.txt-same-line-wrapper {
  display: flex;
}

.grid-center {
  display: grid;
  place-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .txt-same-line-wrapper {
    flex-direction: column;
  }

  .flex-align-center {
    padding: 2% 0 1% 0;
  }
}
