.adminBanner {
    height: 10vh;
    color: var(--primary-dark);
    font-family: var(--heading-font);
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.headingWrapper {
    width: 85%;
    display: grid;
    place-items: center;
}

.logoutBtn {
    cursor: pointer;
}